* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  h1 {
    text-align: center;
    font-weight: 300;
    color: #fff;
  }
  ul {
    margin: 50px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 500px;
    text-align: center;
  }
  li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
  }
  button {
    padding: 8px 12px;
    background: #44a2ff;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 8px;
  }
  