*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Sans-serif;
}

.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    grid-gap: 15px;
   
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #333;
}

.product-card h2{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    text-overflow: ellipsis;
    height: 50px;
    padding-bottom: 10%;
}
.product-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-container{
    position:relative;
    display: flex;
    justify-content: center;
    left: 50%;
}
button{
    padding: 10px;
    margin: 5px;
    background-color: #0072c6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: dodgerblue;
}
button:disabled{
    background-color: #9b9b9b;
    cursor: not-allowed;
}